<div>
   
   <h5>This is the page for <%= @raid.name %></h5>
   <%=image_tag @raid.image%><br>
   <%=@raid.description%>
   <ul>
      <li><%= @raid.reward_item_1 %></li>
      <li><%= @raid.reward_item_2 %></li>
   </ul>
</div>