<div id="analytics">
    <h2>Analytics:</h2>

    <ul>
        <li><%=@analytic.groups%></li>
        <li><%=@analytic.users%></li>
        <li><%=@analytic.raids%></li>
        <li><%=@analytic.roles%></li>
        <li><%=@analytic.total_raids%></li>
        <li><%=@analytic.tanks%></li>
        <li><%=@analytic.dps%></li>
        <li><%=@analytic.healers%></li>
    </ul>
</div>