<div class="groups-new">
    <h2>New Group</h2>

    <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
            <p><%=e%></p>
        <% end %>
    <% end %>

    <%= form_for @group do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.collection_check_boxes :raids, @raids, :id, :name, include_hidden: false %>
        <%= f.select :limit, @limit,{prompt: "Group size limit"} %>    
        
        <%= f.submit%>
    <% end %>

    <hr>

    <div class="button">
        <%= link_to "New Raid", new_raid_path %>
    </div>

</div>