<h1>Group Show Page</h1>
<%=@group.name%><br>

<%= button_to 'join group', {controller: "user_groups", action: "create", user_id: session[:user_id], group_id: @group.id}, {method: :post} %>


<%="Party leader is #{@group.users[0].username}"%><br> 


<h5>This group will be tackling:</h5> <br>
<ul>
        <%@group.raids.each do |r|%>
            <li><%=link_to r.name, r%></li>
        <%end%>
</ul>

<br>Party is: <br>
<ul>
    <%@group.users.uniq.each do |p|%>
        <li><%=link_to p.username, p%></li>
    <%end%>
</ul>


    
