<br>
<h2><%=@group.name%><br></h2>


<%= button_to 'join as tank', {controller: "user_group_roles", action: "create", role_id: "1", user_id: session[:user_id], group_id: @group.id}%>
<%= button_to 'join as dps', {controller: "user_group_roles", action: "create", role_id: "2", user_id: session[:user_id], group_id: @group.id}%>
<%= button_to 'join as healer', {controller: "user_group_roles", action: "create", role_id: "3", user_id: session[:user_id], group_id: @group.id}%>
<%="Party leader is:"%> <strong><%= "#{@group.party_leader}"%></strong><br> 


<h5>This group will be tackling:</h5>
<ul>
        <%@group.raids.each do |r|%>
            <li><%=link_to r.name, r%></li>
        <%end%>
</ul>

<h4>Roles are: </h4>
<ul>
    <%@group.user_group_roles.each do |r|%>
    <li><%="#{r.role.name}: #{r.user.username}"%></li>
    <%end%>
</ul>


<%= "party is #{@group.party}"%>

<%=link_to "Logout", logout_path%>



    
