<div id="groups-show">
    <div class="side-1" id="group-options">
        <h2><%=@group.name%></h2>

        <div class="grid-header">
            <% if session[:user_id] == @group.party_leader.id %>
                <div class="button grid-item"><%= link_to "Finalize Group", finalize_groups_path(id: @group.id) %></div>
            <% end %>
            
            <% if session[:user_id] == @group.party_leader.id %>
                <div class="button grid-item "><%= link_to "Destroy Group", wipe_groups_path(id: @group.id) %></div>
            <% end %>
        </div>

        <% if @group.finished == true %>
            <h3><%= "This group's tasks are finished." %></h3>
        <% end %>

        <hr>

        <div  id="group-list">
            <% if @group.party_size.length < @group.limit %>
                <div class="button"><%= button_to 'join as tank', {controller: "user_group_roles", action: "create", role_id: "1", user_id: session[:user_id], group_id: @group.id} %></div>
                <div class="button"><%= button_to 'join as dps', {controller: "user_group_roles", action: "create", role_id: "2", user_id: session[:user_id], group_id: @group.id} %></div>
                <div class="button"><%= button_to 'join as healer', {controller: "user_group_roles", action: "create", role_id: "3", user_id: session[:user_id], group_id: @group.id} %></div>
            <% end %>
        </div>
    </div>
    
    <div class="side-2" id="group-info">
        <div id="groups-party-lead">
            <h3><%= "Party leader is:" %> </h3>
            <h4><strong> <%= "#{@group.party_leader.username}" %> </strong> </h4>
        </div>

        <div id="discord">
            <a class="icon" href="https://discord.gg/sJApeTZS"><img src="/assets/discord-icon.svg" width="50"></a>
            <h5>Discord Server</h5>
        </div>

        <h3>This group will be tackling:</h3>
        <ul class="grid-header" id="group-raid-list">
            <% @group.raids.each do |r| %>
                <li class="alt-grid-item"><%= link_to r.name, r %></li>
            <% end %>
        </ul>

        <h5><%= "#{@group.available_spots}" %></h5>

        <h3>Roles are: </h3>
        
        <% if session[:user_id] == @group.party_leader.id %>
            <ul class="grid-container">
                <% @group.user_group_roles.each do |r| %>
                    <div class="alt-grid-item">
                        <li>
                            <h4><%= "#{r.role.name}"%></h4>
                            <h5><%=link_to r.user.username, user_path(r.user) %></h5>
                            <h5><%= link_to "Remove User", decimate_user_group_roles_path(role_id: r.role.id, user_id: r.user.id, group_id: @group.id)%></h5>
                        </li>
                    </div>
                <% end %>
            </ul>
        <% else %>
            <ul class="grid-container">
                <% @group.user_group_roles.each do |r| %>
                    <% if r.user.id == session[:user_id] %>
                        <div class="alt-grid-item">
                            <li>
                                <h4><%= "#{r.role.name}:"%></h4>
                                <h5><%=link_to r.user.username, user_path(r.user)%></h5>
                                <h5><%= link_to "Leave Group", decimate_user_group_roles_path(role_id: r.role.id, user_id: r.user.id, group_id: @group.id)%></h5>
                            </li>
                        </div>
                    <% else %>
                        <div class="alt-grid-item">
                            <li>
                                <h4><%= "#{r.role.name}:"%></h4>
                                <h5><%=link_to r.user.username, user_path(r.user) %></h5>
                            </li>
                        </div>
                    <% end %>
                <% end %>
            </ul>
        <% end %>
        
    </div>
</div>