<div id="user-show">
   <div class="side-1">
      <h2><%= @user.username %></h2>
      <% if !@user.pix_url.nil? %>
         <img src="<%= @user.pix_url %>">
      <% else %>
         <img src="<%= Faker::Avatar.image %>">
      <% end %>
      <ul class="icon-list">
         <% if !@user.email.nil? %>
            <li>
               <a href="mailto:<%= @user.email.to_s %>"><img src="/assets/email-icon.svg" width="50"> </a>
            </li>
         <% end %>
         
         <% if !@user.email.nil? %>
            <li>
               <a href="https://discordapp.com/users/<%= @user.discord_id %>"><img src="/assets/discord-icon.svg" width="50"></a>
            </li>
         <% end %>
         
         <% if !@user.email.nil? %>
            <li>
               <a href="https://steamcommunity.com/id/<%= @user.steam_id %>"><img src="/assets/steam-icon.svg" width="50"></a>
            </li>
         <% end %>
      </ul>

      <p><%= @user.user_desc %></p>
   </div>

   <div class="side-2" id="user-data-stats">
      <h3>Previous Groups</h3>
      <div class="grid-header">
         <% if @user.groups.count <= 0 %>
            <div class="grid-item">
               None
            </div>
         <% else %>
            <% @user.groups.each do |group| %>
               <div class="grid-item">
                  <%= group.name %>
               </div>
            <% end %>
         <% end %>
      </div>

      <h3>Statistics</h3>
      <ul>
         <li><%=@user.total_raids%></li>
         <li><%=@user.total_groups%></li>
         <li><%=@user.party_leads%></li>
         <li><%=@user.tank_count%></li>
         <li><%=@user.dps_count%></li>
         <li><%=@user.healer_count%></li>
      </ul>

      <h3>Notable drops:</h3>
      <div class="grid-header">
         <% @user.inventory.each do |item| %>
            <div class="grid-item"> 
               <%= item %> 
            </div>
         <% end %>
      </div>
   </div>
</div>