<div class="user-show">
   <div class="user-data">
      <h2><%= @user.username %></h2>
      <img src="<%= @user.pix_url %>">
      <ul>
         <li><%= "Email: " + @user.email.to_s %></li>
      </ul>
   </div>

   <div class="user-data-groups">
      <h4>Past Groups</h4>
      <ul>
         <% @user.groups.each do |group| %>
            <li> <%= group.name %> </li>
         <% end %>
      </ul>
   </div>

   
   <h4>Statistics</h4>
   <ul>
      <li><%=@user.total_raids%></li>
      <li><%=@user.total_groups%></li>
      <li><%=@user.party_leads%></li>
      <li><%=@user.tank_count%></li>
      <li><%=@user.dps_count%></li>
      <li><%=@user.healer_count%></li>
   </ul>

   <h4>Notable drops:</h4>
   <ul>
      <% @user.inventory.each do |item| %>
         <li> <%= item %> </li>
      <% end %>
   </ul>
</div>