<div class="user-show">
   <%= "This is the page of #{@user.username}" %>
   <img src="<%= @user.pix_url %>">
   <%= "Email: " + @user.email.to_s %>
   <%= "Discord Username: " + @user.discord_name.to_s %>

   <ul>
      <% @user.groups.each do |group| %>
         <li> <%= group.name %> </li>
      <% end %>
   </ul>

   <ul>
      <% @user.inventory.each do |item| %>
         <li> <%= item %> </li>
      <% end %>
   </ul>

   <%=@user.total_raids%><br>
   <%=@user.total_groups%><br>
   <%=@user.party_leads%><br>
   <%=@user.tank_count%><br>
   <%=@user.dps_count%><br>
   <%=@user.healer_count%>

   <%#="you are logged in as #{current_user.username}"%>
</div>