<!DOCTYPE html>
<html>
  <head>
    <title>GroupApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ul>
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Users", "/users" %></li>
        <li><%= link_to "Raids", "/raids" %></li>
        <% if !session[:user_id].nil? %> 
          <li><%= link_to "Profile", "/users/#{session[:user_id]}" %></li>
          <li><%= link_to "Groups", "/groups" %></li>
          <li><%= link_to "Logout", "/logout" %></li>
        <% else %>
          <li><%= link_to "Login", "/login" %></li>
        <% end %>
      </ul>
    </nav>
    <div class="flex-container">
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  </body>
</html>